$primary-color: #444;
$secondary-color: #eece1a;
$showImage: true;
$homeImage: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  /*transition in a function to use it multiple times*/
  transition: all 1s ease-out;
}
@mixin background {
  @if $showImage {
    &#bg-image {
      background: $homeImage;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        /*or .overlay {*/
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}
//Media Query Mixins
@mixin mediaSmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
